
#title{
  
  background-color: #B2C1E1;
  color:#526EA8;
}

.carousel-control-next-icon:after{
  content: 'Next';
  font-size: 55px;
  color: #1560C2;
}

.carousel-control-prev-icon:after {
  content: 'Previous';
  font-size: 55px;
  color: #1560C2;
}


.beastTitle{
  display:flex;
  justify-content: center;
}

#name{
  display:flex;
  justify-content: center;

}

#photos{
  margin-left:37%;
  border-color:#0D3A75;
  border-style: solid;
  
}

#foot{
  background-color:#B2C1E1;
  color:#526EA8;
}

.author{
  display:flex;
  justify-content: center;
}

#description{
  display:flex;
  justify-content: center;
}

#keyword{
  display:flex;
  justify-content: center;
}

#horns{
  display:flex;
  justify-content: center;
}
#heart{
  display:flex;
  justify-content: center;
}

html{
  background-color: #1560C2;
}
