
#title{

  background-color: #B2C1E1;
  color:#526EA8;
}
.beastTitle{
  display:inline;
  margin-left:45%;
}

#foot{
  background-color:#B2C1E1;
  color:#526EA8;
}

.author{
  display:inline;
  margin-left:45%;
}

#photos{
  margin-left:40%;
}

#heart{
  margin-left:40%;
}